body{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
}

.input{
    height: 60px;
    width: 700px;
    background-color: white;
    color: black;
    margin: 20px;
    border-radius: 20px;
}

.button{
    height: 40px;
    width: 100px;
    background-color: aqua;
    border-radius: 20px;
}

.output{
    height: 60px;
    width: 700px;
    background-color: white;
    color: black;
    margin: 20px;
    border-radius: 20px;
}